<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

	<!-- 공유자원 설정 -->
	<bean id="sdata" class="pack.shared.SharedData">
		<property name="shared" value="공유자원 처리 성공" />
	</bean>

</beans>
